@import 'tailwindcss';
@import 'fumadocs-ui/css/catppuccin.css';
@import 'fumadocs-ui/css/preset.css';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  margin-left: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

@theme {
  @keyframes marquee-left {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translateX(calc(-100% - 20px));
    }
  }

  --animate-marquee-left: marquee-left 30s linear infinite;
  --animate-marquee-left-reverse: marquee-left 30s linear infinite reverse;
}
